@import "../../scss/base/variables";

.todo-list-item {

  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  color: $body;
  border-bottom: 1px solid $gray-5;

  &:last-child { border-bottom: 0; }

  &-text {
    margin-right: 10px;
    transition: .3s ease-out all;

    &.active { color: $gray-4; }

    @media (min-width: 570px) {
      margin-right: 15px;
    }
  }

  &-icon {
    cursor: pointer;
    flex-shrink: 0;

    path,
    circle { transition: .3s ease-out all; }

    &-check {
      margin-right: 10px;

      @media (min-width: 570px) {
        margin-right: 15px;
      }

      path,
      circle {
        fill: transparent;
        stroke: $gray-4;
      }

      &:hover,
      &.active {
        circle {
          stroke: $red;
          fill: $red;
        }

        path { stroke: $white; }
      }
    }

    &-important {
      margin-left: auto;

      circle {
        stroke: $gray-4;
        fill: transparent;
      }

      path { fill: $gray-4; }

      &:hover,
      &.active {
        circle {
          stroke: $green;
          fill: $green;
        }

        path { fill: $white; }
      }
    }
  }
}

.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}