.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;

  > * {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}